@model Note

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-8">
                <a class="btn btn-primary" asp-controller="Notes" asp-action="Index">Back To All Notes</a>
            </div>
            <div class="col-4 gx-2">
                <a class="btn btn-secondary" asp-controller="Notes" asp-action="Edit" asp-route-id="@Model.Id">Edit Note</a>
                <a class="btn btn-danger" asp-controller="Notes" asp-action="Delete" asp-route-id="@Model.Id">Delete Note</a>
            </div>
        </div>
        <div class="row">
            <h2 class="my-3">@Model.Title</h2>
            <span>Created on @Model.CreatedDate.ToCustomDateString()</span>

            <hr />

            <div class="noteContent">@Html.Raw(Model.Content)</div>
        </div>
    </div>
</div>

@{
    <link href="~/lib/highlightjs/styles/github-dark.css" rel="stylesheet" />
    <link href="~/lib/highlightjs/styles/github-dark.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/highlightjs/highlight.js"></script>
    <script src="~/lib/highlightjs/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
}
